:root{
    --color-text: #d8d8d8;
}

body {
    background-color: #E5E4DF;
}

.cardsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 5rem;
}

@media only screen and (max-width: 1245px){
  .cardsContainer{
    flex-direction: column;
  }
}

.ColunasDiagramas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
}

.Diagrama-Alpha{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

@media only screen and (max-width: 960px){
  .Diagrama-Alpha{
    flex-direction: column;
  }
  .ColunasDiagramas{
    padding-top: 3rem;
  }
}

.tituloDiagrama {
  text-align: left;
  margin-left: 7rem;
}

@media only screen and (max-width: 500px){
  .tituloDiagrama{
    margin-left: 1rem;
    font-size: 30px;
  }
}

.tituloDiagrama h1 {
  margin: 0;
  font-size: 48px;
}

.tituloDiagrama h1:first-child {
  margin-bottom: -20px;
}

.mid-site {
  background-image: url('/src/assets/bg-mid-site.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: 700px;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid-site h1{
  color: var(--color-text);
  font-size: 52px;
  text-align: center;
}

.mid-site-2{
  background-color: #202020;
  margin-top: 3rem;
  height: auto;
  min-height: 30rem;
}