/* error.css */

.conteudoContainer {
  text-align: center;
  margin: 50px auto;
}

.texto404 {
  font-size: 100px;
  font-weight: bold;
  color: #ff5722;
  /* Cor do texto 404 */
}

.titulo {
  font-size: 24px;
  margin: 20px 0;
}

.paragrafo {
  font-size: 18px;
  margin-bottom: 10px;
}

.botaoContainer {
  margin-top: 20px;
}

.imagemCachorro {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.espacoEmBranco {
  height: 50px;
  /* Altura do espaço em branco */
}