/* MapOverlay.css */

.map-overlay {
    position: absolute;
    padding-top: 7rem;
    z-index: 1;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.input-field {
    margin: 0.7rem;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
