/* MapOverlay.css */

.map-overlay {
    position: absolute;
    padding-top: 7rem;
    z-index: 1;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 100%; /* Remova o tamanho máximo para torná-lo responsivo */
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha em telas menores */
    justify-content: space-between;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
}

.input-field {
    margin: 0.7rem;
    flex: 1;
    width: 100%; /* Ocupa 100% do espaço disponível */
}

.button {
    margin-top: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 40px;
    width: 100%; /* Ocupa 100% do espaço disponível */
    max-width: 9rem; /* Define um tamanho máximo para evitar que ele fique muito largo */
    height: 2rem; /* Altura fixa */
    cursor: pointer;
    padding: 0 1rem; /* Adicione padding para um tamanho mínimo agradável */
    box-sizing: border-box; /* Garante que o padding não afete o tamanho total */
}



/* Media query para ajustar o tamanho em telas menores */
@media (max-width: 340px) {
    .map-overlay {
        padding-top: 3rem; /* Ajuste o espaçamento superior conforme necessário */
    }

    .input-container {
        flex-direction: column; /* Coloca os elementos em colunas em telas menores */
        gap: 10px;
    }

    .input-field {
        margin: 0.3rem;
    }
}

@media (max-width: 768px) {
    .button {
        max-width: 20%; /* Reduza o tamanho máximo do botão para 50% da largura disponível */
        padding: 0 0.5rem; /* Reduza o padding do botão */
    }
}