@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

.video-container {
  font-family: 'Poppins', sans-serif; 
}

.text-overlay p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800; 
} 

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

video {
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

.textoMaquinaEscrever{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;   margin-left: 6rem;
  font-size: 4.4vw;
  max-width: 100vw;
}


.text-overlay {
  position: absolute;
  top: 28%;
  left: 38%; 
  transform: translateX(-50%);
  color: white;
}

.text-overlay p {
  font-size: 4.4vw;
  max-width: 100vw;
  margin-left: 1rem;
}

.text-overlay p:nth-child(2) {
  margin-left: 4rem; 
}

.text-overlay p:nth-child(3) {
  margin-left: 6rem;
}


/* Responsivo */

@media (max-width: 1000px) {

  .text-overlay p {
    font-size: 3rem;
    text-align: center;
    margin-left: 1rem; 
  }

  .textoMaquinaEscrever{
    font-size: 3rem;
    text-align: center;
    margin-left: 1rem; 
  }

}

@media (max-width: 720px) {

  .text-overlay{
    margin: 3rem;
  }

  .text-overlay p {
    font-size: 2..7rem;
    text-align: left;
    margin-left: 0rem; 
  }

  .textoMaquinaEscrever{
    font-size: 2.7rem;
    text-align: left;
    margin-left: 0rem; 
  }
  
  .text-overlay p:nth-child(2) {
    margin-left: 0rem; 
  }
  
  .text-overlay p:nth-child(3) {
    margin-left: 0rem;
  }

}