/* Dentro do seu arquivo de estilos CSS, por exemplo, map-content.css */
.map-content {
    width: auto;
    margin: 0 auto; /* Centralize horizontalmente */
    overflow: hidden; /* Oculta qualquer conteúdo que exceda a largura máxima */
    border: 1px solid #c20000; /* Adicione uma borda de 1px vermelha apenas ao elemento .map-content */
  }
img {
    width: 100%; /* A imagem ocupará 100% da largura do elemento pai */
    height: 100%; /* A imagem ocupará 100% da altura do elemento pai */
    object-fit: cover; /* A imagem não diminuirá de tamanho e o que estiver sobrando será ocultado */
    display: block; /* Remove espaços em branco abaixo da imagem */
  }
  